@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.carousel-container {
    position: relative;
    width: 300px; /* Adjust as needed */
    height: 400px; /* Adjust as needed */
    overflow: hidden;
  }
  
  .carousel-slide {
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }